<h1 style="text-align:center ;">{{title}}</h1>
<form>
  <label>Nombre</label>
  <input type="text" name="nombre" [(ngModel)]="nombre">
  <br>
  <label>Apellido</label>
  <input type="text" name="apellido" [(ngModel)]="apellido">
  <br>
  <label>Cargo</label>
  <input type="text" name="cargo" [(ngModel)]="cargo">
  <br>
  <button type="submit" (click)="registrarUsuario()">Registrar</button>
</form>
<br>
<p *ngIf="registrado; else sinregistrar">{{mensaje}} con el nombre {{nombre}} {{apellido}}
  <!--con el cargo de <span [ngStyle]="{color:cargo=='director'?'red':'black'}">{{cargo}} </span> -->
  con el cargo de <span [ngClass]="{paraDirectores:cargo=='director'}">{{cargo}} </span>
</p>

<ng-template #sinregistrar>
<p>Nadie registrado</p>
</ng-template>
<br>
<br>
<ul>
  <li *ngFor="let entrada of entradas; let i=index">{{i}}.{{entrada.titulo}}</li>
</ul>
